In [1]:
import pandas as pd

In [2]:
customers_data = {
    'customer_id': [1, 2, 3, 4, 5],
    'first_name': ['Tom', 'Sally', 'James', 'Henry', 'James'],
    'last_name': ['Jones', 'Smith', 'Green', 'Black', 'White'],
    'age': [23, 34, 45, 56, 67],
    'city': ['London', None, 'Liverpool', 'Bristol', 'London'],
    'email': ['tom.jones@london.com', 'sally.smith@manchester.com', 'james.green@liverpool.com', 'henry.black@bristol.com', 'james.white@london.com']
}

orders_data = {
    'order_id': [1, 2, 3, 4, 5],
    'customer_id': [1, 2, 3, 4, 5],
    'order_date': ['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05'],
    'amount': [100, 200, 300, 400, 500]
}

products_data = {
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Macbook Air M1', 'Samsung Galaxy Notebook', 'Asus ROG Strix 15', 'Dell Inspiron 15', 'LG Gram 16'],
    'price': [75000, 96000, 81000, 56000, 67000]
}

In [5]:
customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)
products_df = pd.DataFrame(products_data)

customers_df['age'] = customers_df['age'].fillna(customers_df['age'].mean())
customers_df['city'] = customers_df['city'].fillna(customers_df['city'].mode()[0])
merged_df = pd.merge(customers_df, orders_df, on='customer_id', how='inner')
merged_df['total_amount'] = merged_df['amount'].sum()

In [6]:
print("Dataset after cleaning, integration and transformation: ")
print(merged_df)

Dataset after cleaning, integration and transformation:
   customer_id first_name last_name  age        city  \
0            1        Tom     Jones   23      London
1            2      Sally     Smith   34  Manchester
2            3      James     Green   45   Liverpool
3            4      Henry     Black   56     Bristol
4            5      James     White   67      London

                        email  order_id  order_date  amount  total_amount
0        tom.jones@london.com         1  2020-01-01     100          1500
1  sally.smith@manchester.com         2  2020-01-02     200          1500
2   james.green@liverpool.com         3  2020-01-03     300          1500
3     henry.black@bristol.com         4  2020-01-04     400          1500
4      james.white@london.com         5  2020-01-05     500          1500